.text {
    background-color: blue;
}

/* .myCls{ */
/* background-color: red;  */
/* } */
.myClass {
    color: green;
    background-color: yellow;
    height: 100px;
    width: 100px;
}

.myClassYellow {
    color: powderblue;
    background-color: blue;
    height: 100px;
    width: 100px;
}