<p>grandchild works!</p>

<div class="row pt-5">
    <div class="col-md-5 offset-md-4 h2">Model / Reactive Driven Form</div>
</div>
<div class="card my-4">
    <div class="card-body">
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <label for="first-name">First Name: </label>
            <input id="first-name" type="text" formControlName="firstName" class="form-control my-4">
          
            <label for="last-name">Last Name: </label>
            <input id="last-name" type="text" formControlName="lastName" class="form-control my-4">
            <div formGroupName="address">
                <h2>Address</h2>
              
                <label for="street">Street: </label>
                <input id="street" type="text" formControlName="street" class="form-control my-4">
              
                <label for="city">City: </label>
                <input id="city" type="text" formControlName="city" class="form-control my-4">
              
                <label for="state">State: </label>
                <input id="state" type="text" formControlName="state" class="form-control my-4">
              
                <label for="zip">Zip Code: </label>
                <input id="zip" type="text" formControlName="zip" class="form-control my-4">
                <label for="psw">Password: </label>
                 <input id="psw" type="password" formControlName="psw" class="form-control my-4">
              </div>
            <button type="submit" [disabled]="!profileForm.valid" class="btn btn-primary my-2">Submit</button>
            <button type="button" (click)="updateProfile()">Update Profile</button>  
        </form>
    </div>
</div>
<p>Mohd Aalam pasha</p>
<p> i am from Amroha</p>