
<div>Toggle flag value from Child is: {{myToggleFlagFromChild}}</div> 
<div> flafdata: {{myToggleflagdata}}</div>
<div> flafdata: {{myToggleflag}}</div>
<div> flafdata: {{myFlagData}}</div>
<div> flafdata: {{myName}}</div>
<div> flafdata: {{Data}}</div>

<button [disabled]="false">I am disabled</button>
<div>Data from Child component: {{dataFromParent | json}}</div>
<div>Data from Grand Child: {{myGrandChildData}}</div>
<app-my-child [parent]="myName"[child]="childName" [mychild]="myParent" (myCustomersData)="myChildData($event)"  (myToggleFlag)="toggleData($event)" (mybuttonflag)="data($event)" (myText)="text($event)" (myCustomersName)="class($event)" (myChildParent) ="parentData($event)" (myChildOut)="datachild($event)" (dataFromGrandChild)="grandChildData($event)"></app-my-child>
<button [disabled]="myGrandChildData"> disableBtn</button>
{{ 2 | pipe }}